<main>
  <h1>Жалоба на пост</h1>
  <p>Причина: <%=locals.reason%></p>
  <p>Ссылка на пользователя http://<%=locals.userUrl%></p>
  <p>Ссылка на пост http://<%=locals.postUrl%></p>
  <p>Email пользователя: <%=locals.userEmail%></p>
</main>
