<main>
  <h1>Жалоба на комментарий</h1>
  <p>Причина: <%=locals.reason%></p>
  <p>Ссылка на пользователя http://<%=locals.userUrl%></p>
  <p>ID комментария: <%=locals.commentId%></p>
  <p>Email пользователя: <%=locals.userEmail%></p>
</main>
